= form_for Comment.new do |f|

  %div.row
    %div.col-md-6
      %div.form-group
        = f.label :Comment
        = f.text_area :body, :class => 'form-control', :rows => '3'
      %div.col-md-6

  %div.form-group
    = f.submit "Add Comment", :class => 'btn btn-default'