.btn.btn-default.navbar-btn {
  position: absolute;
  right: 10px;
}

body { 
  padding-top: 70px; 
}

footer {
  padding-left: 20px;
}

.col-md-4.side {
  background-color: Gainsboro;
  border-radius: 5px 40px 5px;
}

.thumbnail {
  width: 30%;
}

.field_with_errors .form-control {
 border-color: #e92115 ;
 box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #e92115 ;
 outline: 0 none;
}